<!DOCTYPE html>
<html>
<head>
    <title>Customer Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>Insurance Management System</h1>

<h2>Welcome Customer</h2>

<div>
    <a href="/policies">
        <button>View Policies</button>
    </a>

    <a href="/apply">
        <button>Apply New Policy</button>
    </a>

    <a href="/applications">
        <button>My Applications</button>
    </a>

    <a href="/payment">
        <button>Pay Premium</button>
    </a>

    <a href="/claim">
        <button>Submit Claim</button>
    </a>

    <a href="/logout">
        <button>Logout</button>
    </a>

    <a href="/payments">
    <button>Payment History</button>
</a>

<a href="/claims">
    <button>Claim Status</button>
</a>
</div>